- individual = statement.individuals.first
.span4
  .media
    %a{class: "pull-left", href: "#"}
      = image_tag individual.picture.url(:square)
    .media-body
      %h4.media-heading= link_to individual.name, individual_path(individual)
      = link_to statement.content, statement_path(statement)
