.col-md-4
  .home_pic
    -#%a{class: "pull-left", href: "/#{individual.twitter}"}
    .pull-left
      = image_tag(individual.picture.url(:thumb), class: "picture")
  .home_txt
    %h4.media-heading= individual.name
    = link_to statement.content, statement_path(statement)
