#home.container
  %h2.text-center About
  The AgreeList project traces back to a random encounter of the two founders Hector and Emilie...thanks to Airbnb! Hector was renting a room in Emilie's flatshare in London, and they quickly discovered that they were both passionated by the empowerment technology endows to individuals in changing the world.
  %br
  %br
  .text-center= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/team.jpeg"
  %br
  %br
  Idealist enough to believe they could change the world, they also realized that they had very complementary skills to embark together in a new venture. Hector, a software engineer by profession, had already founded a startup and was involved in participatory democracy initiatives. Emilie, a former investment banker, had recently reconnected with her political sciences academic background with a second graduate degree in social sciences. 
  %br
  %br
  After endless debates on how to improve the quality of public debate as well as the accountability of opinion leaders, the AgreeList project was born with an ambition 
  %b mission: promote constructive debates by organizing people's opinions and ideas.
  %br
  #footer.text-center
    If you like the project and want to get involved, please send us an email:
    %br
    = link_to("feedback@agreelist.com", "mailto:feedback@agreelist.com")
  .container.text-center
    = link_to "Privacy", privacy_path
    |
    = link_to "Terms", terms_path
