#home.container
  .text-center
    %h2 AgreeList Mission
  AgreeList aims at organizing relevant information to favour constructive debate and to support a more democratic decision-making. AgreeList provides a dedicated space to anyone willing to participate to a public debate, being it a well-known influencer or a mere committed citizen of the world.

  .text-center
    %h2 How Does AgreeList Work?
  You express your opinion on current questions. You support existing statements, confute them with data and/or provide your own contribution. AgreeList guarantees a neutral space, where each contributor's opinions matter... as long as they respect our Chart of Ethics!
  Furthermore, AgreeList keeps track of contributions and allows you to easily review past contributions. With AgreeList you can look at how ideas evolve over time, flag inconsistencies of influencers, and better inform yourself to form your own opinion.

  %h2.text-center Who is behing AgreeList?
  %br
  .row
    .col-md-6
      .media
        .media-left
          = image_tag(@hector.picture.url(:thumb))
        .media-body
          %h4.media-heading
            Hector Perez
          Ruby developer. Telecom Engineer. Paella lover.
    .col-md-6
      .media
        .media-left
          = image_tag(@emilie.picture.url(:thumb))
        .media-body
          %h4.media-heading
            Emilie Esposito
          Lived in 7 countries across 3 continents. Studied political sciences and business.

