%h1 Frequently Asked Questions

%ul
  %li
    %b What is AgreeList's aim?
    %p AgreeList aims to fight the polarization of opinions and promote constructive debates by collecting and organizing people's opinions and ideas. AgreeList wants to become an alternative media where you can quickly inform yourself on both sides of controversial topics, you can browse opinions to see who thinks what (and how this evolves over time!) and you can contribute to an on-going debate by sharing your opinion or those of other people you respect.
  %li
    %b Who does AgreeList really work for?
    %p AgreeList is and will remain independent. We want to improve the quality of public debate, and to do so it is critical for us to remain neutral - otherwise you would not trust us! We collect all opinions and we do not take responsibility for how extreme, unfounded or contradictory some of them might be. We believe that it is important for everyone to understand where people with different opinions come from, how they think and what their concerns are. Only through mutual awareness constructive debates can be achieved!
  %li
    %b Why should you support AgreeList?
    %p How many times have you felt that traditional medias were not covering a relevant opinion on a controversial issue? How many times have you been frustrated when misinformed public opinion influenced regulation you were against? Or how many times have you felt betrayed by an opinion leader who switched side on an issue - maybe for his/ her own personal agenda - without anyone really noticing?
    %p We believe that a tool like AgreeList can have a real impact on how important decisions are made, and ultimately on our everyday lives. While we are very ambitious, we are also a small team with limited financial means - we don't want to sell our souls to $$$ with strings attached :) Therefore, if you like our project, we need your help!!
  %li
    %b How can you support AgreeList?
    %p
      There are many ways you can support us, but just in case you run out of ideas you can find here below a non-exhaustive list!
      %ul
        %li= link_to "Log in with your Twitter account and browse our content", "/auth/twitter"
        %li Upvote the AgreeList quotes you agree with - you will then increase their chance of making it to the board and of being read by other users
        %li
          = link_to "Add opinions,", "/brexit#gather"
          being them your own opinions or those of people you like and follow. Just make sure you have a source if it is not your own opinion!
        %li Share AgreeList quotes in your social networks (Twitter, Facebook,...) 
        %li
          Send us suggestions on how we can improve the website or express your interest in joining the team by writing us at
          = link_to "feedback@agreelist.com", "mailto:feedback@agreelist.com"
        %li Talk about AgreeList with your friends and connections. Isn't it a great idea? :) 
      Thank you for your help!
  %li
    %b Why can our users also add someone else's opinion?
    %p While we don't expect (for now!) to count among our users all well-known opinion leaders, we believe that their opinions are relevant and cannot be ignored. As soon as such opinion leaders make their opinions public, we can add them to our website and would love being helped by our users in doing so. There is only one rule: adding a source for any third party opinion. 
  %li
    %b Why is the source important when adding someone else's opinion?
    %p It is important to always indicate the source of quotes when these are taken from other newspapers, blogs, videos etc. Not only will this allow our users to further explore the context of the reported quotes, but it will also allow the AgreeList team to verify the source and comply with Copyright regulations.
  %li
    %b How does the AgreeList board work and what is the purpose of upvoting opinions?
    %p With the AgreeList's board, we want to provide our users with the ability to go through the key reasons used to support both sides of an issue in less than 5 minutes. We know how busy you are and want to make sure you can quickly understand where supporters of both sides of an issue come from. 
    %p In order to do so, we organize opinions into selected categories and rely on our users to select the most relevant opinions (by upvoting them) in each category. We then summarize in our board the most popular opinion in each category, on both sides of an issue. Of note, the more our users upvote the opinions they endorse, the more the board will accurately reflect what our users think... so remember to upvote the opinions you like!  
  %li
    %b Are some of the opinions censored?
    %p We believe in being a neutral source and will do our best to encourage plurality of opinions by collecting all types of opinions... within the law!
