.jumbotron
  %h1{align: "center"} Liquid Democracy
  %h5{align: "center"} mix of direct & representative democracy
  .text-center
    = button_to "/", class: "btn btn-primary btn-lg" do
      Join

%br

.content
  #statements
    .row-fluid
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row-fluid
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
