<div class="jumbotron">
  <h1>Wanna know who agree on something?</h1>
</div>

<br />
<div class="content">
  <div class="row" align="center">
    <div class="span9">
      button
    </div>
  </div>
  
  <div class="row">
    <% @statements.each do |s| %>
      <div class="span3">
        <%= link_to(s.content, statement_path(s)) %>
      </div>
    <% end %> 
  </div>
</div>
