#home.container.text-center
  .jumbotron
    %h1 The social network where you add influencer's opinions
    - @influencers.each do |influencer|
      = image_tag(influencer.picture.url(:thumb), class: "picture") if influencer
    %br
    %br
    = link_to "Join", signup_path, class: "btn btn-primary"
