language: ruby
rvm:
  - 2.4.1
addons:
  postgresql: "9.4"
services:
  - postgresql
before_script:
  - psql -c "CREATE DATABASE travis_ci_test;" -U postgres
  - cp config/database.travis.yml config/database.yml
