---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Barack%20Obama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: TLS Redirect
    headers:
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=Barack%20Obama
      X-Client-Ip:
      - 95.149.7.202
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 20 Aug 2016 16:24:29 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Barack%20Obama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=160768 t=1471710269571672
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=20-Aug-2016;https=1
      X-Client-Ip:
      - 95.149.7.202
    body:
      encoding: UTF-8
      string: '{"entities":{"Q76":{"pageid":205,"ns":0,"title":"Q76","lastrevid":367092364,"modified":"2016-08-20T09:07:56Z","type":"item","id":"Q76","labels":{"en":{"language":"en","value":"Barack
        Obama"}},"descriptions":{"en":{"language":"en","value":"44th President of
        the United States"}},"aliases":{"en":[{"language":"en","value":"Barack Hussein
        Obama II"},{"language":"en","value":"Barack Obama II"},{"language":"en","value":"Barack
        Hussein Obama"},{"language":"en","value":"Barry Obama"},{"language":"en","value":"Obama"},{"language":"en","value":"Barack"}]},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q76$9c7254c8-4792-aa55-0af8-8c589c9bd68a","rank":"normal","references":[{"hash":"9b73f55e07c908edad51747e308fd3b94be52a46","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306,"id":"Q20666306"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://data.bnf.fr/ark:/12148/cb15591663c","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q76$545B2D30-AD63-4698-9224-DDB75CC685FC","rank":"normal","references":[{"hash":"a51d6594fee36c7452eaed2db35a4833613a7078","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919,"id":"Q54919"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"298b51a5d4075225a5c70e053aefbf566adc9c26","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":36578,"id":"Q36578"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"va[...]
