---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=John%20O%27Keefe%20(neuroscientist)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Client-Ip:
      - 82.34.68.129
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=John%20O%27Keefe%20%28neuroscientist%29
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 13 May 2017 11:39:36 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=John%20O%27Keefe%20(neuroscientist)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=52353 t=1494675575409116
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=13-May-2017;WMF-Last-Access-Global=13-May-2017;https=1
      X-Client-Ip:
      - 82.34.68.129
    body:
      encoding: UTF-8
      string: '{"entities":{"Q1701279":{"pageid":1634587,"ns":0,"title":"Q1701279","lastrevid":484630357,"modified":"2017-05-11T23:12:17Z","type":"item","id":"Q1701279","labels":{"en":{"language":"en","value":"John
        O''Keefe"}},"descriptions":{"en":{"language":"en","value":"American British
        neuroscientist, 2014 Nobel laureate in Physiology or Medicine"}},"aliases":{},"claims":{"P496":[{"mainsnak":{"snaktype":"value","property":"P496","datavalue":{"value":"0000-0001-5697-4881","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1701279$1e27b227-4277-367c-2e4d-482b145bb473","rank":"normal"}],"P184":[{"mainsnak":{"snaktype":"value","property":"P184","datavalue":{"value":{"entity-type":"item","numeric-id":3441542,"id":"Q3441542"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$d8c5dd70-433e-059e-0155-15c62a651957","rank":"normal"}],"P268":[{"mainsnak":{"snaktype":"value","property":"P268","datavalue":{"value":"134984512","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1701279$89124c27-4c45-d235-fc48-8151c628471d","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"John
        O''Keefe (neuroscientist) 2014.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q1701279$48ec6cec-4fe2-ef1a-d97d-c0f8350c4a29","rank":"normal"}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","datavalue":{"value":"http://www.ucl.ac.uk/cdb/research/okeefe","type":"string"},"datatype":"url"},"type":"statement","id":"Q1701279$43b3860b-4ea0-e08a-9b8b-bb468ae4109b","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"John
        O\u2019Keefe (neuroscientist)","type":"string"},"datatype":"string"},"type":"statement","id":"Q1701279$46f2ac64-45f0-ade6-c04a-2c1f58c50273","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1701279$970F54F4-3184-416A-94BE-E180703C1A84","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":60,"id":"Q60"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1701279$345D9B43-1A85-466F-AD2B-426CE469096A","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":145,"id":"Q145"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1701279$91F78FF4-79A9-4158-851D-8A2D88EFE5AC","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1701279$04A41416-9D7B-4397-83B9-C1C837E19032","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"22297659","type":"string"},"datatype":"external-id"},"type":"statement","id":"q1701279$D4997B61-0A23-4359-BC31-96FB8E80455E","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P244":[{"mainsnak":{"snaktype":"value","property":"P244","datavalue":{"value":"n79042605","type":"string"},"datatype":"external-id"},"type":"statement","id":"q1701279$B3EDFF12-1309-4CEC-AD2B-794B77167877","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P213":[{"mainsnak":{"snaktype":"value","property":"P213","datavalue":{"value":"0000
        0001 1606 156X","type":"string"},"datatype":"external-id"},"type":"statement","id":"q1701279$0BD1D6D6-F89C-4FBE-A970-EF4BF9A2F613","rank":"normal","references":[{"hash":"9a35e58d096248d4e691ec174537c3f6d9b72b56","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":423048,"id":"Q423048"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$49FA1171-E60B-4B7E-B0FE-7D8A47470256","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1939-11-18T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q1701279$2887C9C0-C60B-458B-9113-C45673722AB1","rank":"normal","references":[{"hash":"99491d1ecd3267e52860c7b140b600288c44c0be","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.nobelprize.org/nobel_prizes/medicine/laureates/2014/press.html","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2014-10-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P854","P813"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":6337803,"id":"Q6337803"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$C3497049-9226-4374-B563-5C013329AF14","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":1622272,"id":"Q1622272"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$A92425ED-5C75-469D-B792-B921F55A0DED","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":212980,"id":"Q212980"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$6721FEDB-F0C4-4680-AE7C-F73C2E36E12F","rank":"normal"}],"P108":[{"mainsnak":{"snaktype":"value","property":"P108","datavalue":{"value":{"entity-type":"item","numeric-id":193196,"id":"Q193196"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$98CB73E0-33E4-45BA-928F-EABFB20AD7D5","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":4925477,"id":"Q4925477"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$3C91F7B9-2697-4E3A-A06D-AB51298DFBE0","rank":"normal"}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":1093910,"id":"Q1093910"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$777FA3A6-E748-4B42-A545-3FE80B435BA6","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":201492,"id":"Q201492"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1701279$68A37D79-9FD0-43C4-9242-5B2AF9B6E257","rank":"normal"}],"P166":[{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":80061,"id":"Q80061"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P585":[{"snaktype":"value","property":"P585","hash":"6ff65bd3064746deb3dd55f22d947731e580cf43","datavalue":{"value":{"time":"+2014-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P585"],"id":"Q1701279$0f096cbe-4ea2-e320-306b-44dffeff6ad2","rank":"normal","references":[{"hash":"d68e7dec44e92894d6188432d0e365391a11b688","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.nobelprize.org/nobel_prizes/medicine/laureates/2014/press.html","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]},{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":1402356,"id":"Q1402356"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P585":[{"snaktype":"value","property":"P585","hash":"016a1a6e205a0226d5970575e1d1b7a4cd6ed23c","datavalue":{"value":{"time":"+2001-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P585"],"id":"Q1701279$fed2d8ee-4f6f-560b-52cb-a79a75375233","rank":"normal","references":[{"hash":"52bca7b3f811fd3a96516b9c053605fe8db3b4d6","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.feldbergfoundation.org/prizewinners/","type":"string"},"datatype":"url"}],"P1476":[{"snaktype":"value","property":"P1476","datavalue":{"value":{"text":"Recent
        British winners","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"}]},"snaks-order":["P854","P1476"]}]},{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":1437834,"id":"Q1437834"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P585":[{"snaktype":"value","property":"P585","hash":"f458de1f8f5b928bfa0920a625e2e75d7dfe2ee2","datavalue":{"value":{"time":"+2006-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P805":[{"snaktype":"value","property":"P805","hash":"bc8fcc96ce502d73a3b0d7c320bda9083aea6da8","datavalue":{"value":{"entity-type":"item","numeric-id":9418,"id":"Q9418"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P585","P805"],"id":"Q1701279$6f603f4a-4b81-1844-2398-f8ea1586e4bd","rank":"normal","references":[{"hash":"89ceb195b83ff4481f72dff6fcc95dc8b7f29bf2","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://grawemeyer.org/psychology[...]
