---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=http://en.wikipedia.com/Muhammad_Yunus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Client-Ip:
      - 82.34.68.129
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=http%3A%2F%2Fen.wikipedia.com%2FMuhammad_Yunus
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 27 Nov 2016 21:31:33 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=http://en.wikipedia.com/Muhammad_Yunus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=54955 t=1480282293259358
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=27-Nov-2016;https=1
      X-Client-Ip:
      - 82.34.68.129
    body:
      encoding: UTF-8
      string: '{"entities":{"-1":{"site":"enwiki","title":"http://en.wikipedia.com/Muhammad_Yunus","missing":""}},"success":1}'
  recorded_at: Sun, 27 Nov 2016 21:31:33 GMT
recorded_with: VCR 3.0.3
