---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Paul%20Nurse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: TLS Redirect
    headers:
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=Paul%20Nurse
      X-Client-Ip:
      - 95.149.7.202
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 20 Aug 2016 16:14:26 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Paul%20Nurse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=58765 t=1471709666272991
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=20-Aug-2016;https=1
      X-Client-Ip:
      - 95.149.7.202
    body:
      encoding: UTF-8
      string: '{"entities":{"Q219716":{"pageid":214594,"ns":0,"title":"Q219716","lastrevid":365575276,"modified":"2016-08-17T17:29:22Z","type":"item","id":"Q219716","labels":{"en":{"language":"en","value":"Paul
        Nurse"}},"descriptions":{"en":{"language":"en","value":"British biochemist"}},"aliases":{"en":[{"language":"en","value":"alien
        and drepedador"},{"language":"en","value":"Paul M. Nurse"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q219716$6BB7E14A-F149-4855-B561-D8077FC2285E","rank":"normal","references":[{"hash":"39f3ce979f9d84a0ebf09abe1702bf22326695e9","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":169514,"id":"Q169514"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"50f57a3dbac4708ce4ae4a827c0afac7fcdb4a5c","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":11920,"id":"Q11920"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P244":[{"mainsnak":{"snaktype":"value","property":"P244","datavalue":{"value":"n83210976","type":"string"},"datatype":"external-id"},"type":"statement","id":"q219716$66E57454-1FAA-499D-8F92-58D945D41DD3","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"13695505","type":"string"},"datatype":"external-id"},"type":"statement","id":"q219716$FD3F9AA5-EFF4-43F3-A578-8F61749FFB55","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P213":[{"mainsnak":{"snaktype":"value","property":"P213","datavalue":{"value":"0000
        0000 8427 5394","type":"string"},"datatype":"external-id"},"type":"statement","id":"q219716$C5FD14B7-D5FD-4B00-99FA-746342029A20","rank":"normal","references":[{"hash":"500bf0768a4645f1e00ad451f904d3a010fa43ae","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":423048,"id":"Q423048"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P166":[{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":10855271,"id":"Q10855271"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q219716$385B3852-4E05-4E83-BE0A-D57E17DAE7C7","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":15631401,"id":"Q15631401"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q219716$0F31E53D-5018-458C-9FC9-4B01496FBD36","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":999734,"id":"Q999734"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P585":[{"snaktype":"value","property":"P585","hash":"d11b6cb71a4838ac2b35bbd799ef5bc1cddd98a9","datavalue":{"value":{"time":"+1998-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P585"],"id":"Q219716$191c7c9a-4b2d-7dfe-b098-c677e6f52518","rank":"normal","references":[{"hash":"717ca3288721ab069e308165ba5e3070c1af33ca","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.laskerfoundation.org/awards/1998basic.htm","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]},{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":80061,"id":"Q80061"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q219716$5DABA4D3-0D7E-4A23-B064-B50C2208B342","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P166","[...]
