.container
  %h3 Occupations on AgreeList:
  - @occupations.each do |occupation|
    %p= link_to "#{occupation.name.titleize} (#{occupation.taggings_count})", occupation_path(occupation.name.gsub(" ", "-"))
  = render partial: "common/pies" if @occupations_count.size > 2 && @schools_count.size > 2
