.container
  %h3 Occupations on AgreeList:
  - @occupations.each do |occupation|
    %p= link_to "#{occupation.name.titleize} (#{occupation.taggings_count})", occupation_path(occupation.name.gsub(" ", "_"))