.container
  .tag-page_title
    %h3= "Opinions from #{@occupation.pluralize}"
    %span.small= link_to "See all schools and universities", schools_path
  = render partial: "common/opinions", locals: { agreements: @agreements }
