- if @comments.size > 0
  #ol
    - @comments.each do |individual_id, comment|
      - individual = comment.individual
      .media
        .media-left
          = image_tag(individual.picture.url(:thumb), class: "picture media-object")
        .media-body
          %h4.media-heading
            = individual.name || individual.twitter
            %span.source
              - if comment.source.present?
                = link_to "source", comment.source
          #br
          = comment.text
      #br
  %br
