%br
- if params[:c] && @statement == main_statement
  = link_to "Board", brexit_board_path
  >
  = params[:c]
  %br
- if params[:educated_at]
  = link_to "All", statement_path(@statement)
  >
  = params[:educated_at]
  %br
