#ol
  - agreements.each do |agreement|
    - individual = agreement.individual
    .media
      %a{href: "#"}
        = image_tag(individual.picture.url(:thumb), class: "picture")
      .media-body
        = link_to(individual.name || individual.twitter, individual_path(individual))
        #br
        - if agreement.url.present? && agreement.url != "http://"
          = link_to agreement.short_url, agreement.url
        - else
          %br
    = link_to("delete", agreement, method: :delete, data: { confirm: "You sure?" }) if admin?
    #br
