.container
  %h1 Editing statement

  = render 'form'

  = link_to 'Page', @statement
  |
  = link_to 'Back', statements_path
  |
  = link_to 'Delete', @statement, method: :delete, data: { confirm: 'Are you sure?' } if @statement.agreements.empty?
