.container.text-center
  %p Search people, topics, opinions, etc.
  .form-inline
    = form_tag search_path do
      = text_field_tag :search, "", class: "form-control", placeholder: "e.g. Basic Income"
      = submit_tag "Search", class: "btn btn-primary"
