---
http_interactions:
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Barack_Obama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: TLS Redirect
    headers:
      X-Client-Ip:
      - 188.77.129.250
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&titles=Barack_Obama
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Sep 2017 15:45:25 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&languages=en&sites=enwiki&titles=Barack_Obama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=140359 t=1504539925840973
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q76":{"pageid":205,"ns":0,"title":"Q76","lastrevid":548308644,"modified":"2017-08-28T22:07:46Z","type":"item","id":"Q76","labels":{"en":{"language":"en","value":"Barack
        Obama"}},"descriptions":{"en":{"language":"en","value":"44th President of
        the United States of America"}},"aliases":{"en":[{"language":"en","value":"Barack
        Hussein Obama II"},{"language":"en","value":"Barack Obama II"},{"language":"en","value":"Barack
        Hussein Obama"},{"language":"en","value":"Obama"}]},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q76$9c7254c8-4792-aa55-0af8-8c589c9bd68a","rank":"normal","references":[{"hash":"ff523bb8ddff31b226a0292c1543c0b81379e812","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306,"id":"Q20666306"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://data.bnf.fr/ark:/12148/cb15591663c","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q76$545B2D30-AD63-4698-9224-DDB75CC685FC","rank":"normal","references":[{"hash":"759b2a264fff886006b6f49c3ef2f1acbfd1cef0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919,"id":"Q54919"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"abc9457dcf728dd069b8ed5b2e1a86035cf2b679","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":36578,"id":"Q36578"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"va[...]
- request:
    method: get
    uri: http://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q82955&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: TLS Redirect
    headers:
      X-Client-Ip:
      - 188.77.129.250
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&format=json&languages=en&ids=Q82955
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Sep 2017 15:45:26 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q82955&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=54661 t=1504539927097684
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q82955":{"pageid":85366,"ns":0,"title":"Q82955","lastrevid":545469330,"modified":"2017-08-24T16:59:34Z","type":"item","id":"Q82955","labels":{"en":{"language":"en","value":"politician"}},"descriptions":{"en":{"language":"en","value":"person
        involved in politics, person who holds or seeks positions in government"}},"aliases":{"en":[{"language":"en","value":"political
        leader"},{"language":"en","value":"political figure"},{"language":"en","value":"polit."}]},"claims":{"P1424":[{"mainsnak":{"snaktype":"value","property":"P1424","datavalue":{"value":{"entity-type":"item","numeric-id":6424841,"id":"Q6424841"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q82955$A39C58B9-AC32-40DF-930B-FF90EBFDDB24","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1424","datavalue":{"value":{"entity-type":"item","numeric-id":10975245,"id":"Q10975245"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q82955$FB40C598-84F0-4E80-B64D-840313C38CA1","rank":"normal","references":[{"hash":"c2f39ff33f55ea09d8384af9942405fbfadac0b6","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":20651139,"id":"Q20651139"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Politicians","type":"string"},"datatype":"string"},"type":"statement","id":"q82955$FD898FAF-7100-4A2F-9F04-3C355EC11D30","rank":"normal"}],"P425":[{"mainsnak":{"snaktype":"value","property":"P425","datavalue":{"value":{"entity-type":"item","numeric-id":7163,"id":"Q7163"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q82955$CE7DD289-F8D8-4912-8886-23535E17A3E3","rank":"normal"}],"P508":[{"mainsnak":{"snaktype":"value","property":"P508","datavalue":{"value":"1182","type":"string"},"datatype":"external-id"},"type":"statement","id":"q82955$3CFF1717-54BC-4265-B92B-DFCB5FA9ACB0","rank":"normal","references":[{"hash":"b7232a03e568ea326dacdccb6322adb7894300d5","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":460907,"id":"Q460907"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P691":[{"mainsnak":{"snaktype":"value","property":"P691","datavalue":{"value":"ph115781","type":"string"},"datatype":"external-id"},"type":"statement","id":"q82955$02D130A9-25EC-4097-A8EE-C7E79DE0E577","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":28640,"id":"Q28640"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q82955$c0a95776-474e-bb10-4031-8cbc6c8824ac","rank":"normal"}],"P910":[{"mainsnak":{"snaktype":"value","property":"P910","datavalue":{"value":{"entity-type":"item","numeric-id":5753390,"id":"Q5753390"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q82955$e5d52be6-487f-103a-d62d-144d22686fc4","rank":"normal"}],"P349":[{"mainsnak":{"snaktype":"value","property":"P349","datavalue":{"value":"00570489","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q82955$50DB6055-7AF6-4750-99FB-ED3CB2C929C8","rank":"normal"}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","datavalue":{"value":"4046517-2","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q82955$7154ADC6-A7C1-44ED-BBAE-E9CB2F6EC33A","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/0fj9f","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q82955$340B06A1-2F26-4E70-B808-94DA5FEE309D","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Human
        Rights Council Urgent Debate on Syria (2).jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q82955$77b27677-4151-17e5-5bca-e95fb7b7ed6f","rank":"normal"}],"P1709":[{"mainsnak":{"snaktype":"value","property":"P1709","datavalue":{"value":"http://dbpedia.org/ontology/Politician","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P973":[{"snaktype":"value","property":"P973","hash":"c7cf4fdbfd1db180d600db219a56c7f93eca0eaa","datavalue":{"value":"http://mappings.dbpedia.org/index.php/OntologyClass:Politician","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","hash":"b85a45c0dcbef1bbaa976c2eb03b605a09a33509","datavalue":{"value":{"time":"+2015-06-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P973","P813"],"id":"Q82955$FD759726-C918-4576-8F73-9DD5398EA768","rank":"normal","references":[{"hash":"8f08ac3e0839bdbc4c6eb8d671e772deb12ba423","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":465,"id":"Q465"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P2521":[{"mainsnak":{"snaktype":"value","property":"P2521","datavalue":{"value":{"text":"pol\u00edtica","language":"es"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q82955$4d353c42-4412-e6a5-abdc-b57846288724","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P2521","datavalue":{"value":{"text":"Politikerin","language":"de"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q82955$728158e6-4e45-964d-6cec-8106750c0d93","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P2521","datavalue":{"value[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q40348&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=56446 t=1504539927925879
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q40348":{"pageid":42706,"ns":0,"title":"Q40348","lastrevid":547704386,"modified":"2017-08-28T02:19:44Z","type":"item","id":"Q40348","labels":{"en":{"language":"en","value":"lawyer"}},"descriptions":{"en":{"language":"en","value":"legal
        professional who helps clients and represents them in a court of law"}},"aliases":{"en":[{"language":"en","value":"attorney"},{"language":"en","value":"Jurisprudente"}]},"claims":{"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Diana
        Ellis - 19 Oct 2011.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q40348$95b8fa5d-42f1-2d74-7ec4-c4f918646d67","rank":"normal"}],"P425":[{"mainsnak":{"snaktype":"value","property":"P425","datavalue":{"value":{"entity-type":"item","numeric-id":7748,"id":"Q7748"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q40348$327052C0-5E51-46ED-AFD8-4778E1DE79A1","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P425","datavalue":{"value":{"entity-type":"item","numeric-id":4116200,"id":"Q4116200"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q40348$2929fa5a-4383-2129-99e0-3d8c17338031","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P425","datavalue":{"value":{"entity-type":"item","numeric-id":1522168,"id":"Q1522168"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q40348$80860b3a-4e5b-7e92-7875-168e8138fb73","rank":"normal"}],"P279":[{"mainsnak":{"snaktype":"value","property":"P279","datavalue":{"value":{"entity-type":"item","numeric-id":185351,"id":"Q185351"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q40348$f6e2e3f6-4bdf-137f-ad4a-2dd6e1ab27fd","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Lawyers","type":"string"},"datatype":"string"},"type":"statement","id":"q40348$81898B57-E10C-4897-A1AA-D113E5FF1C2B","rank":"normal"}],"P508":[{"mainsnak":{"snaktype":"value","property":"P508","datavalue":{"value":"10939","type":"string"},"datatype":"external-id"},"type":"statement","id":"q40348$20A3E43E-7227-4600-AA08-1325051D1FB4","rank":"normal","references":[{"hash":"b7232a03e568ea326dacdccb6322adb7894300d5","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":460907,"id":"Q460907"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P910":[{"mainsnak":{"snaktype":"value","property":"P910","datavalue":{"value":{"entity-type":"item","numeric-id":7217430,"id":"Q7217430"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q40348$0C3CB76A-9E18-4A80-9856-6512940F00AA","rank":"normal"}],"P867":[{"mainsnak":{"snaktype":"value","property":"P867","datavalue":{"value":"K1903","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q40348$a5a3587a-4509-b41f-8112-9e3bd7d49461","rank":"normal"}],"P349":[{"mainsnak":{"snaktype":"value","property":"P349","datavalue":{"value":"00560594","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q40348$931E1AC7-EB8A-4C89-A9E1-BAF75558682C","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":15987302,"id":"Q15987302"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q40348$c9f9fa97-4abf-3a9b-e4c4-72a175312c16","rank":"normal"}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","datavalue":{"value":"4048755-6","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q40348$00FBFFE4-AB70-43EE-8C9E-B644B07695E0","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P952":[{"mainsnak":{"snaktype":"value","property":"P952","datavalue":{"value":"2421","type":"string"},"datatype":"string"},"type":"statement","id":"Q40348$2ddca7cb-4681-aadd-5163-1c879053f3d2","rank":"normal"}],"P417":[{"mainsnak":{"snaktype":"value","property":"P417","datavalue":{"value":{"entity-type":"item","numeric-id":179718,"id":"Q179718"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q40348$202fb13f-46be-182b-422b-372081f49e02","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P417","datavalue":{"value":{"entity-type":"item","numeric-id":358325,"id":"Q358325"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q40348$05daa628-4[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q15958642&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=61309 t=1504539928725042
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q15958642":{"pageid":17581967,"ns":0,"title":"Q15958642","lastrevid":516407089,"modified":"2017-07-08T21:25:25Z","type":"item","id":"Q15958642","labels":{"en":{"language":"en","value":"political
        writer"}},"descriptions":{},"aliases":{},"claims":{"P910":[{"mainsnak":{"snaktype":"value","property":"P910","datavalue":{"value":{"entity-type":"item","numeric-id":6588547,"id":"Q6588547"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q15958642$48816a77-465d-6efc-fdfb-49c[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q28532974&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=59660 t=1504539929443939
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q28532974":{"pageid":30227033,"ns":0,"title":"Q28532974","lastrevid":514806861,"modified":"2017-07-06T23:24:32Z","type":"item","id":"Q28532974","labels":{"en":{"language":"en","value":"community
        organizer"}},"descriptions":{"en":{"language":"en","value":"profession"}},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":28640,"id":"Q28640"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q28532974$f0c2e167-49ad-0d95-a5eb-d12c918315e2","rank":"normal"}],"P425":[{"mainsnak":{"snaktype":"value","property":"P425","datavalue":{"value":{"entity-type":"item","numeric-id":25866,"id":"Q25866"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q28532974$c31e917b-46ea-4b2c-1f2c-c13e244cb879","rank":"normal"}],"P279":[{"mainsnak":{"snaktype":"value","property":"P279","datavalue":{"value":{"entity-type":"item","numeric-id":2029941,"id":"Q2029941"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q28532974$dd235fca-4786-6364-8f9d-dec63fa8f020","rank":"normal"}]},"sitelinks":{}}},"success":1}'
  recorded_at: Mon, 04 Sep 2017 15:45:29 GMT
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q4122998&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=50411 t=1504539930167093
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q4122998":{"pageid":3930816,"ns":0,"title":"Q4122998","lastrevid":355826152,"modified":"2016-07-08T21:37:32Z","type":"item","id":"Q4122998","labels":{"en":{"language":"en","value":"State
        Elementary School Menteng 01"}},"descriptions":{"en":{"language":"en","value":"school
        in Jakarta"}},"aliases":{"en":[{"language":"en","value":"SDN Besuki"}]},"claims":{"P131":[{"mainsnak":{"snaktype":"value","property":"P131","datavalue":{"value":{"entity-type":"item","numeric-id":192857,"id":"Q192857"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4122998$b0797617-4563-7e41-b7a2-de48b6813f68","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":9842,"id":"Q9842"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4122998$8C877E5D-4D27-4522-B7EA-83964BA49F61","rank":"normal"}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":252,"id":"Q252"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q4122998$bbb17d41-470f-c675-1cd9-0d2e6f429916","rank":"normal"}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","datavalue":{"value":{"time":"+1934-00-00T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q4122998$7C3D87E2-3195-4EBE-983A-61D8D6B50A70","rank":"normal"}],"P159":[{"mainsnak":{"snaktype":"value","property":"P159","datavalue":{"value":{"entity-type":"item","numeric-id":10109,"id":"Q10109"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P969":[{"snaktype":"value","property":"P969","hash":"9ff322dad899f25e708c45a69ca2792bee9c0982","datavalue":{"value":"Jl.
        Besuki No. 4","type":"string"},"datatype":"string"}],"P281":[{"snaktype":"value","property":"P281","hash":"823ce873db62c11bb232c5b9ab5e5cc2dbb27676","datavalue":{"value":"10310","type":"string"},"datatype":"string"}],"P17":[{"snaktype":"value","property":"P17","hash":"5f062030d01c9793ff079b414e7a6dc647ce03ca","datavalue":{"value":{"entity-type":"item","numeric-id":252,"id":"Q252"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P625":[{"snaktype":"value","property":"P625","hash":"35ea45bc21d5d13d01337b32714c8f9a1eaf1b34","datavalue":{"value":{"latitude":-6.1986111111111,"longitude":106.82888888889,"altitude":null,"precision":0.00027777777777778,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"}]},"qualifiers-order":["P969","P281","P17","P625"],"id":"Q4122998$289BB919-C918-4E39-9374-2495C2BC6BDB","rank":"normal"}]},"sitelinks":{"enwiki":{"site":"enwiki","title":"State
        Elementary School Menteng 01","badges":[]},"idwiki":{"site":"idwiki","title":"SDN
        Menteng 01","badges":[]}}}},"success":1}'
  recorded_at: Mon, 04 Sep 2017 15:45:30 GMT
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q3273124&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=55986 t=1504539930866788
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q3273124":{"pageid":3122504,"ns":0,"title":"Q3273124","lastrevid":545803189,"modified":"2017-08-25T07:28:33Z","type":"item","id":"Q3273124","labels":{"en":{"language":"en","value":"Punahou
        School"}},"descriptions":{"en":{"language":"en","value":"school located in
        Honolulu CDP, Hawaii"}},"aliases":{"en":[{"language":"en","value":"Oahu College"}]},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Punahou
        School","type":"string"},"datatype":"string"},"type":"statement","id":"q3273124$D922A64F-4BF0-4A02-9243-0EAC20CDB335","rank":"normal"}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q3273124$E6949B78-2CFA-49B0-87C3-4944429755C9","rank":"normal"}],"P649":[{"mainsnak":{"snaktype":"value","property":"P649","datavalue":{"value":"72000419","type":"string"},"datatype":"external-id"},"type":"statement","id":"q3273124$948A2B84-0371-4B69-A1CB-2A54A059DA82","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":428602,"id":"Q428602"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q3273124$d730341d-4acc-f5ba-fdf5-69fa9c8f2daa","rank":"normal"}],"P6[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q1346110&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=96817 t=1504539931565302
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q1346110":{"pageid":1285760,"ns":0,"title":"Q1346110","lastrevid":544089365,"modified":"2017-08-22T19:18:08Z","type":"item","id":"Q1346110","labels":{"en":{"language":"en","value":"Occidental
        College"}},"descriptions":{"en":{"language":"en","value":"liberal arts college
        in Los Angeles, California, United States"}},"aliases":{"en":[{"language":"en","value":"Oxy"}]},"claims":{"P131":[{"mainsnak":{"snaktype":"value","property":"P131","datavalue":{"value":{"entity-type":"item","numeric-id":65,[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q49088&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=60131 t=1504539932283014
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q49088":{"pageid":51051,"ns":0,"title":"Q49088","lastrevid":550499965,"modified":"2017-09-02T09:31:59Z","type":"item","id":"Q49088","labels":{"en":{"language":"en","value":"Columbia
        University"}},"descriptions":{"en":{"language":"en","value":"private Ivy League
        research university in New York City"}},"aliases":{"en":[{"language":"en","value":"Columbia
        University in the City of New York"},{"language":"en","value":"King''s College
        of New York"},{"language":"en","value":"Col[...]
[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q49122&languages=en&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=54091 t=1504539933084626
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=04-Sep-2017;WMF-Last-Access-Global=04-Sep-2017;https=1
      X-Client-Ip:
      - 188.77.129.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q49122":{"pageid":51102,"ns":0,"title":"Q49122","lastrevid":538441688,"modified":"2017-08-15T12:27:14Z","type":"item","id":"Q49122","labels":{"en":{"language":"en","value":"Harvard
        Law School"}},"descriptions":{"en":{"language":"en","value":"law school in
        Cambridge"}},"aliases":{"en":[{"language":"en","value":"Harvard Law"},{"language":"en","value":"HLS"}]},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Harvard
[...]
