/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.picture {
  padding-right: 5px
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

span.source{
  font-size: 10px;
}

.left{
  float: left;
  width: 600px;
}

.vote-icon{
  margin-top: -5px;
}

#hec {
  background: url('/assets/intro-bg.jpg') no-repeat bottom center scroll;
  height: 900px;
  color: white;
  margin-top: -20px;
  padding: 0;
  display: table;
  width: 100%;
  background-size: cover;
}

.btn-home {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: Transparent;
  color: white;
}

#agree_disagree_buttons {
  margin-top: 50px;
}

#container-home {
  margin-top: 150px;
}
