/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.picture {
  padding-right: 5px
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

span.source{
  font-size: 10px;
}

.left{
  float: left;
  width: 600px;
}

.vote-icon{
  margin-top: -5px;
}

#create-question{
  margin-left: -20px;
}

#new-statement{
  margin-top: 20px;
}

#new-statement-content{
  float: left;
  width: 80%;
}

#new-statement-button{
  margin-left: 80%;
}
