.btn-home {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: Transparent;
  color: white;
}

#agree_disagree_buttons {
  margin-top: 50px;
}

/* ---------- home page background --------------- */
#homepage {
  background: url('/assets/intro-bg.jpg') no-repeat bottom center scroll;
  height: 900px;
  height: 100vh;
  color: white;
  margin-top: -20px;
  padding: 0;
  display: table;
  width: 100%;
  background-size: cover;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}
/* ---------- end home page background --------------- */
