#statements {
  padding-top: 20px;
  background-color: orange;
  a:link, a:visited {
    color: purple;
  }
}

#liquid_democracy_points {
  background-color: red;
}

.row {
  padding-bottom: 10px;
}

#info {
  margin-bottom: 5px;
}

.jumbotron {
  margin-bottom: 0px;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
