// Place all the styles related to the statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-statement {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: Transparent;
  color: black;
}
