= link_to "tweet", "https://twitter.com/intent/tweet?url=&text=@#{individual.try(:twitter)} your opinion re. '#{statement.shortened_content(35)}' is now on AgreeList #{shortened_url_without_params} Let me know if you'd like to modify it!", "data-dismiss" => "modal"
