.text-center
  .footer-line
    = link_to "Open Source", "https://github.com/hectorperez/agreelist"
    路
    Open Data
    路
    = link_to "Privacy", privacy_path
    路
    = link_to "Terms", terms_path
    路
    = link_to "Contact", contact_path
