.text-center
  .footer-line
    = link_to "Open Source", "https://github.com/hectorperez/agreelist"
    ·
    Open Data
    ·
    = link_to "Privacy", privacy_path
    ·
    = link_to "Terms", terms_path
  .footer-line
    = link_to "hello@agreelist.org", "mailto://hello@agreelist.org"
