%nav.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-inner
      %button{type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => "#navbar-collapse"}
        %span{class: "sr-only"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      = link_to "AgreeList", root_path, id: "logo"
      .collapse.navbar-collapse#navbar-collapse
        %ul.nav.navbar-nav.pull-right
          %li= link_to "Entrepreneurs", entrepreneurs_path
          -#%li= link_to "New", "/statement" if current_user
          %li= link_to "Profile", profile_path(current_user.twitter) if current_user
          -#%li= link_to "Sign in with Twitter", "/auth/twitter" unless current_user
          -#%li= link_to "Contact", "/contact"
          %li= link_to "Sign Out", signout_path if current_user
          %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button", "aria-expanded" => "false"}

      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.pull-right
